<header class="border-b border-zinc-600 py-5">
  <nav class="header-container flex justify-between items-center">
    <h1 class="text-white text-4xl sm:text-[40px] font-allura">Igor Augusto</h1>
    <div class="flex items-center md:gap-8 lg:gap-10">
      <p class="text-white hidden md:flex">About Me</p>
      <p class="text-white hidden md:flex">Skills</p>
      <p class="text-white hidden md:flex">Projects</p>

      <button class="header-button">
        Contact
      </button>

      <app-menu class="md:hidden"></app-menu>
      <app-close-menu></app-close-menu>

    </div>
  </nav>
</header>
