<section class="mt-20" data-aos="fade-left">
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-3xl md:text-4xl font-bold select-none">Skills</h2>
    <p
      class="font-medium text-xl text-center mt-5 max-w-72 md:max-w-max select-none"
    >
      Technologies that I have been perfecting over the last 3 years.
    </p>
  </div>
  <app-card></app-card>

  <div class="container-app flex justify-between w-full">
    <div class="flex flex-col gap-y-4">
      <h3 class="text-xl font-bold select-none">Caption</h3>
      <div class="flex">
        <img src="assets/images/icons/check.svg" alt="Ícone de check" class="icon" />
        <p class="md:text-lg select-none">
          : I already have knowledge or have already studied;
        </p>
      </div>

      <div class="flex">
        <img
          src="assets/images/icons/uncheck-black.svg"
          alt="Ícone de uncheck"
          class="icon"
        />
        <p class="md:text-lg select-none">
          : I am studying or it is in my schedule.
        </p>
      </div>
    </div>
  </div>
</section>
