<main
  class="container-main-section container-app"
>
  <!-- Texto -->
  <div
    class="mt-10 md:mt-0 md:max-w-[450px] 2xl:max-w-[500px] order-2 md:order-1"
  >
    <p class="text-white text-lg sm:text-2xl select-none italic">Hi, I'm</p>
    <p
      class="max-w-[500px] sm:max-w-[500px] text-white font-bold text-4xl sm:text-5xl sm:leading-[54px] select-none"
    >
      Software Engineer,<br />
      <span class="text-neon-green texto-fade">Igor Augusto</span>
    </p>
    <p
      class="md:max-w-[300px] lg:max-w-[400px] xl:max-w-[500px] text-white indent-6 pt-8 select-none"
    >
      I work on the development of RESTful APIs and microservices with Java 8+
      and Spring Boot, ensuring efficiency, scalability and security. Passionate
      about back-end architecture, best practices and innovation.
    </p>
    <button
      class="download-button"
    >
      <a href="assets/Igor Augusto CV.pdf" download>Download CV</a>
    </button>
  </div>

  <img
    src="assets/images/animation-image.jpeg"
    alt="Imagem de uma pessoa programando no estilo Disney Pixar"
    class="image"
  />
</main>
