<div>
  <button class="menu" (click)="toggleMenu()" aria-label="Toggle Menu">
    <span class="menu-line w-8"></span>
    <span class="menu-line w-6"></span>
    <span class="menu-line w-4"></span>
  </button>

  <ul class="menu-dropdown flex flex-col gap-4 text-center" *ngIf="isMenuOpen">
    <li class="text-white">About me</li>
    <li class="text-white">Projects</li>
    <li class="text-white">Skills</li>

    <li class="text-white text-center border-[1.5px] rounded-full px-6 py-4">Contact me</li>
  </ul>
</div>
