<main
  class="flex flex-col md:flex-row justify-between items-center container-app md:px-0 lg:px-5 md:py-10 xl:px-20 2xl:px-30 3xl:px-40"
>
  <!-- Texto -->
  <div
    class="mt-10 md:mt-0 md:max-w-[450px] 2xl:max-w-[500px] order-2 md:order-1"
  >
    <p class="text-white text-lg sm:text-2xl select-none italic">Hi, I'm</p>
    <p
      class="sm:max-w-[500px] text-white font-bold text-4xl sm:text-5xl sm:leading-[54px] select-none"
    >
      Software Engineer,
      <span class="text-neon-green texto-fade">Igor Augusto</span>
    </p>
    <p
      class="md:max-w-[300px] lg:max-w-[400px] xl:max-w-[500px] text-white indent-6 pt-8 select-none"
    >
      I work on the development of RESTful APIs and microservices with Java 8+
      and Spring Boot, ensuring efficiency, scalability and security. Passionate
      about back-end architecture, best practices and innovation.
    </p>
    <button
      class="font-bold mt-10 mb-10 md:mb-0 bg-neon-green px-6 py-4 rounded-md active:scale-95 transition-transform"
    >
      Download CV
    </button>
  </div>

  <img
    src="assets/animation-image.jpeg"
    alt="Imagem de uma pessoa programando no estilo Disney Pixar"
    class="w-[75%] sm:w-[50%] md:w-[40%] lg:w-[40%] xl:w-[40%] 2xl:w-[35%] 3xl:w-[35%] rounded-full select-none order-1 md:order-2"
  />
</main>
