<header class="py-8">
  <nav class="header-container container-app">
    <h1 class="header-logo">iaugusto</h1>

    <ul class="text-white hidden md:flex md:gap-x-6">
      <li class="header-text">
        <a href="#skills">Skills</a>
      </li>
      <li class="header-text">
        <a href="#experience">Experience</a>
      </li>
      <li class="header-text">
        <a href="#formation">Formation</a>
      </li>
      <li class="header-text">
        <a href="#projects">Projects</a>
      </li>
    </ul>

    <button class="header-button">
      <a href="#contact">Contact</a>
    </button>

    <app-menu class="md:hidden"></app-menu>
  </nav>
</header>
