<section class="mt-20" data-aos="fade-left">
  <div class="flex flex-col justify-center items-center">
    <h2 class="title mt-10">Formation</h2>
    <p class="sub-title mt-5">
      Knowledge acquired and developed throughout my educational trajectory.
    </p>
  </div>

  <div class="flex justify-center container-app mt-10">
    <div
      class="flex items-center gap-x-2 bg-transparent border border-neon-green 2xl:max-w-[650px] rounded-md px-3 py-4"
    >
      <img
        src="/assets/images/unip.png"
        alt="Logo da universidade"
        class="image"
      />
      <div class="flex flex-col justify-center">
        <h3 class="university-name">Universidade Paulista</h3>
        <h4 class="educational-title">Bachelor's Degree, Computer Science</h4>
        <p class="study-period">Fev. 2022 - Dec. 2025</p>

        <p class="description">
          During the course, I developed skills in programming (Java, Python,
          NodeJs), agile project management and complex problem-solving. My
          final project involved creating an application to help nutritionists
          guide their patients using AI.
        </p>
      </div>
    </div>
  </div>
</section>
