@for (item of json; track $index) {
<a
  class="social-media-card mt-6"
  [@move]="isActive($index) ? 'move-right' : 'move-left'"
  (mouseenter)="setActive($index, true)"
  (mouseleave)="setActive($index, false)"
  [href]="item.link"
  target="_blank"
>
  <div class="hover:animate-shake p-2">
    <img class="size-8" [src]="item.icon" [alt]="item.alt" />
  </div>

  <div class="flex items-center justify-between w-full">
    <div class="flex flex-col">
      <h5 class="social-media-title">{{ item.title }}</h5>
      <p class="social-media-description">{{ item.username }}</p>
    </div>
    <div>
      <img
        class="size-4"
        src="assets/images/icons/arrow-right.svg"
        alt="Ícone de seta"
      />
    </div>
  </div>
</a>
}
