/* =======================
   Background da Scrollbar
    Chorme, Edge e Safari
   ======================= */
::-webkit-scrollbar {
    width: 12px;
    border: 5px solid #ffffff;
}
  
/* =====================
          ScrollBar
     Chorme, Edge e Safari
   ===================== */
::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 50px;
    border: 2px solid #ffffff;
}

/* =====================
     ScrollBar Firefox
   ===================== */
html {
    scrollbar-color: black;
}


.card-projects:nth-child(1):hover .card-project-text {
    visibility: visible;
}

.card-projects:nth-child(1):hover img {
    filter: blur(8px);
    transition: all 200ms ease;
    border-radius: 12px;
}