<section class="container-app mt-16" data-aos="fade-left">
  <div class="flex flex-col justify-center items-center mb-10">
    <h2 class="title">Contact</h2>
    <p class="sub-title">
      Have a project in mind or want to discuss opportunities? Get in touch or
      find me on social media.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8">
    <div class="contact-container text-white justify-self-end">DIV 1</div>

    <div class="links-container">
      <div class="flex items-center gap-x-4">
        <img
          class="link-icon"
          src="assets/images/icons/link.svg"
          alt="Ícone de Link"
        />
        <h4 class="contact-title">Connect with me</h4>
      </div>

      <app-social-media></app-social-media>
    </div>
  </div>
</section>
