<div class="flex justify-center mt-6">
  <div
    class="container-style grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-x-10"
  >
    <div class="w-full h-full md:w-full md:h-full rounded-md relative">
      <img
        class="projects-image"
        [src]="data[selectedIndex].pathImage"
        [alt]="data[selectedIndex].title"
      />
    </div>

    <div>
      <h3 class="project-card-title">{{ data[selectedIndex].title }}</h3>
      <p class="project-card-description">
        {{ data[selectedIndex].description }}
      </p>

      <div class="pt-6">
        <h2 class="project-card-technology">technologies</h2>
        <div class="flex gap-x-2 flex-wrap">
          @for (tech of data[selectedIndex].technologies; track $index) {
          <app-badge [text]="tech"></app-badge>
          }
        </div>
      </div>

      <div class="flex gap-2 md:gap-4 pt-6 md:pt-10">
        <a
          class="projects-details-button-container projects-details-button"
          [routerLink]="''"
        >
          See more
          <img
            src="assets/images/icons/arrow-right-black.svg"
            alt="Ícone de seta"
            class="size-4"
          />
        </a>
        <a
          class="projects-demo-button project-demo-button-container"
          [href]="data[selectedIndex].demoLink"
          target="_blank"
        >
          <img
            src="assets/images/icons/open.svg"
            alt="Ícone para abrir link"
            class="size-4"
          />
          Demo
        </a>
      </div>
    </div>

    <!-- Galeria com miniaturas -->
    <div class="md:col-span-2">
      <div class="flex flex-wrap gap-2 md:gap-4">
        @for (item of data; track $index) {
        <button (click)="selectProject($index)">
          <img
            class="aspect-video h-14 md:h-24 lg:h-32 rounded-md object-cover border-2"
            [class.border-green-500]="selectedIndex === $index"
            [class.border-transparent]="selectedIndex !== $index"
            [src]="item.pathImage"
            [alt]="item.title"
          />
        </button>
        }
      </div>
    </div>
  </div>
</div>
