<div class="flex justify-center mt-6">
  <div
    class="container-style grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-x-10"
  >
    <div class="w-full h-full md:w-full md:h-full rounded-md relative">
      <img
        class="projects-image"
        src="assets/images/projects/palmeiras-store-web.jpg"
        alt="Projeto Palmeiras Store Web"
      />
    </div>

    <div>
      <h3 class="project-card-title">Palmeiras Store</h3>
      <p class="project-card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti
        ipsum tenetur ut, mollitia minus sunt consectetur nihil totam odit quasi
        neque suscipit consequuntur ad illo ab nesciunt repellendus quibusdam!
      </p>

      <div class="pt-6">
        <h2 class="project-card-technology">technologies</h2>

        <div class="flex gap-x-2">
          @for (item of technologies; track $index) {
          <app-badge text="{{ item }}"></app-badge>
          }
        </div>
      </div>

      <div class="flex gap-2 md:gap-4 pt-6 md:pt-10">
        <a
          class="projects-details-button-container projects-details-button"
          [routerLink]=""
        >
          See more
          <img
            src="assets/images/icons/arrow-right-black.svg"
            alt="Ícone de seta"
            class="size-4"
          />
        </a>
        <a
          class="projects-demo-button project-demo-button-container"
          routerLink=""
        >
          <img
            src="assets/images/icons/open.svg"
            alt="Ícone para abrir link"
            class="size-4"
          />Demo
        </a>
      </div>
    </div>

    <div class="md:col-span-2">
      <div class="flex flex-row flex-wrap gap-2 md:gap-4">
        <button>
          <img
            class="aspect-video h-14 md:h-24 lg:h-32 rounded-md object-cover"
            src="/assets/images/projects/palmeiras-store-web.jpg"
            alt="Projeto Palmeiras Store Web"
          />
        </button>

        <button>
          <img
            class="aspect-video h-14 md:h-24 lg:h-32 rounded-md object-cover"
            src="/assets/images/projects/palmeiras-store-web.jpg"
            alt="Projeto Palmeiras Store Web"
          />
        </button>
      </div>
    </div>
  </div>
</div>
